{% extends 'base.html'%}
{% block content %} 

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Excercise</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Description</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Weight</label>
        </div>
      </div>
    </form>
  </div>

{% endblock %}