{% extends 'base.html'%}
{% block content %} 

<h3>How heavy could you go {{user.name}}?</h3>
<h5>{{user.week}}</h5>
  <div class="row">
    <form action="{{ url_for('update_weight', user_id=user_id) }}" method="POST" class="col s12">
        
        <div class="input-field col s5">
          <input id="benchpress" name="benchpress" type="text" class="validate" value="{{user.benchpress}}">
          <label for="add_box">Bench Press</label>
        </div>

              <div class="input-field col s5">
          <input id="squat" name="squat" type="text" class="validate" value="{{user.squat}}">
          <label for="add_box">Squat</label>
        </div>

              <div class="input-field col s5">
          <input id="squat" name="inclinebenchpress" type="text" class="validate" value="{{user.inclinebenchpress}}">
          <label for="add_box">Incline Bench Press</label>
        </div>

                      <div class="input-field col s5">
          <input id="legpress" name="legpress" type="text" class="validate" value="{{user.legpress}}">
          <label for="add_box">Leg Press</label>
        </div>

                      <div class="input-field col s5">
          <input id="latpulldown" name="latpulldown" type="text" class="validate" value="{{user.latpulldown}}">
          <label for="add_box">Lat Pulldown</label>
        </div>

                      <div class="input-field col s5">
          <input id="seatedrow" name="seatedrow" type="text" class="validate" value="{{user.seatedrow}}">
          <label for="add_box">Seated Row</label>
        </div>


                      <div class="input-field col s5">
          <input id="sideraise" name="sideraise" type="text" class="validate" value="{{user.sideraise}}">
          <label for="add_box">Side Raise</label>
        </div>


                      <div class="input-field col s5">
          <input id="singlearmreversefly" name="singlearmreversefly" type="text" class="validate" value="{{user.singlearmreversefly}}">
          <label for="add_box">Single arm reverse fly</label>
        </div>

                              <div class="input-field col s5">
          <input id="bulgariansplitsquat" name="bulgariansplitsquat" type="text" class="validate" value="{{user.bulgariansplitsquat}}">
          <label for="add_box">Bulgarian Split Squat</label>
        </div>

                              <div class="input-field col s5">
          <input id="facepull" name="facepull" type="text" class="validate" value="{{user.facepull}}">
          <label for="add_box">Face Pull</label>
        </div>


      <div class="row">
       <button class="btn waves-effect blue waves-light" type="submit" name="action">ADD WEIGHT
    <i class="material-icons right">send</i>
  </button>
  </div>
    </form>

     <form action="{{ url_for('get_user', user_id=user_id) }}" method="POST" class="col s12">
        <div class="row">
       <button class="btn waves-effect blue waves-light" type="submit" name="action">Back
    <i class="material-icons right">send</i>
  </button>
  </div>
    </form>
  </div>


{% endblock %}