{% extends 'base.html'%}
{% block content %} 

<h3>User Details</h3>

  <div class="row">
    <form action="{{ url_for('update_user', user_id=user_id) }}" method="POST" class="col s12">
        <div class="input-field col s5">
          <input id="name" name="name" type="text" class="validate" value="{{user.name}}">
          <label for="add_box">Name</label>
        </div>
              <div class="input-field col s5">
          <input id="weight" name="weight" type="text" class="validate" value="{{user.weight}}">
          <label for="add_box">Weight</label>
        </div>

 <div class="input-field col s6">
    <select id="week" name="week">
      <option value="{{user.week}}" disabled selected>{{user.week}}</option>
      {% for userweek in workout %}
        <option value="{{userweek.week}}">{{userweek.week}}</option>
      {% endfor %}
    </select>
  </div>

      <div class="row">
       <button class="btn waves-effect waves-light" type="submit" name="action">Save
    <i class="material-icons right">send</i>
  </button>
  </div>
    </form>
  </div>

{% endblock %} 