{% extends 'base.html'%}
{% block content %} 

<h3>How heavy could you go?</h3>

  <div class="row">
    <form action="" method="POST" class="col s12">
      <div class="row">
  <div class="input-field col s3">
    <select id="category" name="category_name">
      <option value="" disabled selected>Excercise Category</option>
      {% for cat in categories %}
        {% if cat.category_name == workout.category %}
        <option value="{{cat.category}}">{{cat.category}}</option>
        {% else %}
        {% endif %}
      {% endfor %}
    </select>
  </div>

<div class="row">
        <div class="input-field col s3">
          <input id="excercise_name" name="excercise" type="text" class="validate" value="{{the_weight.main}}">
          <label for="add_box">Excercise</label>
        </div>
        <div class="input-field col s3">
          <input id="weight" name="weight" type="text" class="validate">
          <label for="fitness_center">Weight</label>
        </div>
      </div>
      <div class="row">
       <button class="btn waves-effect waves-light" type="submit" name="action">ADD WEIGHT
    <i class="material-icons right">send</i>
  </button>
  </div>
    </form>
  </div>

{% endblock %}