{% extends 'base.html'%}
{% block content %}

<h3>Welcome</h3>

<div class="row">
	<form method="POST" class="col s12">
		<div class=col-3>
			<button class="waves-effect waves-light btn blue">Find your workout</button>
		</div>
    
		<div class="input-field col s3">
			<select id="name" name="name">
                <option value="Please select" disabled selected>What's your name?</option>
                {% for user_name in users %}
                <option value="{{user_name.name}}">{{user_name.name}}</option>
                {% endfor %}
            </select>
		</div>
        
		<div class="input-field col s3">
			<select id="user_id" name="user_id">
                <option value="Please select" disabled selected>What's your name?</option>
                {% for user_id in user %}
                <option value="{{user_id._id}}">{{user_id._id}}</option>
                {% endfor %}
            </select>
		</div>
        
	</form>

		<div class=col-3>
			<a href="{{url_for('add_user')}}" method="POST" class="waves-effect waves-light btn blue">Sign Up</a>
		</div>
</div>

{% endblock %}