{% extends 'base.html'%}
{% block content %} 

<h3>Sign up</h3>

  <div class="row">
        <form action="{{ url_for('insert_user') }}" method="POST"  class="col s12">
        <div class="row">
        <div class="input-field col s3">
          <input id="name" name="name" type="text" class="validate">
          <label for="add_box">Name</label>
        </div>
        <div class="input-field col s3">
          <input id="weight" name="weight" type="text" class="validate">
          <label for="fitness_center">Weight (specify kg or lb)</label>
        </div>
      </div>

<div class="input-field col s6">
    <select id="week" name="week">
      <option value="{{user.week}}" disabled selected>Select the workout you wish to start on</option>
      {% for userweek in workout %}
        <option value="{{userweek.week}}">{{userweek.week}}</option>
      {% endfor %}
    </select>
  </div>

      <div class="row">
       <button class="btn waves-effect blue waves-light" type="submit" name="action">ADD USER
    <i class="material-icons right">send</i>
  </button>
  </div>
    </form>
  </div>

      <form action="{{ url_for('welcome') }}" method="POST" class="col s12">
        <div class="row">
       <button class="btn waves-effect blue waves-light" type="submit" name="action">Back
    <i class="material-icons right">send</i>
  </button>
  </div>
    </form>
  </div>
    

{% endblock %}