{% extends 'base.html'%}
{% block content %} 
<h3> Warm Up </h3>
    <ul class="collapsible popout">
    {% for workout in work_out %}
    <li>
      <div class="collapsible-header"> <i class="material-icons">fitness_center</i>{{workout.warm_up}}</div>
      <div class="collapsible-body"><span> {{workout.warm_up_description}}</span></div>

        <div class="collapsible-header"> <i class="material-icons">fitness_center</i>{{workout.warm_up_1}}</div>
      <div class="collapsible-body"><span> {{workout.warm_up_1_description}}</span></div>

        <div class="collapsible-header"> <i class="material-icons">fitness_center</i>{{workout.warm_up_2}}</div>
      <div class="collapsible-body"><span> {{workout.warm_up_2_description}}</span></div>
    
    </li>
    {% endfor %}
  </ul>

{% endblock %}
