 {% block head %}
{% endblock %}

{% extends 'base.html'%}
{% block content %} 
   


<h4 class="center greeting"> Welcome to workout {{user.week}} {{user.category}} {{user.name}}  </h4>

<div class="row">
  <a class="waves-effect waves-light blue btn modal-trigger col-md-pull-5 workout_struct" href="#modal1">Workout Structure</a>
</div>
  
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>How to structure the workout</h4>
       <p>Complete the coloured excercise as a pair for 3 rounds. For example if Clams and mountain climbers are the both blue then those two excercises are a round. Repeat that pair of excercise 3 times. 
    This is only relevant for warm-ups and sprints</p>
    </br> 
    <p> The main excercises are to be done in reps as outlined by the numbers beside them. You can record the weight of your main lifts by selecting the "Weight" button.</p></br>
    <p> The cooldown is an essentail part of training and will aid mobility. 20 seconds per cool down is recommended.</p>
    
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</div>

<div class="complete-0"> 

<h3> Warm Up </h3>

    <ul class="collapsible popout ">

    <li>
      <div class="warm_up collapsible-header"> 

      <i class="material-icons ">fitness_center</i>{{workout.warm_up}}</div>
      <div class="collapsible-body"><span> <a target="_blank" href="{{workout.warm_up_description}}">See Example</a></span></div>
    </li>
    <li>
        <div class="collapsible-header warm_up ">
        <i class="material-icons ">fitness_center</i>{{workout.warm_up_1}}</div>
<div class="collapsible-body"><span> <a target="_blank" href="{{workout.warm_up_1_description}}">See Example</a></span></div>
      
   
</li>
<li>
        <div class="collapsible-header warm_up1"> 

      <i class="material-icons ">fitness_center</i>{{workout.warm_up_2}}</div>
  
      <div class="collapsible-body"><span> <a target="_blank" href="{{workout.warm_up_2_description}}">See Example</a></span></div>
</li>
<li>
            <div class="collapsible-header warm_up1">
            
             <i class="material-icons warm_up_1">fitness_center</i>{{workout.warm_up_3}}</div>
   
        <div class="collapsible-body"><span> <a target="_blank" href="{{workout.warm_up_3_description}}">See Example</a></span></div>
    
    </li>
  
  </ul>

<div class="row">
        <div class=col-3>
      <a class="waves-effect waves-light btn green complete center">Completed</a>
      </div>
</div>
</div>

<div class="complete-1">

  <h3> Main </h3>
    <ul class="collapsible popout ">
 
    <li>
      <div class="collapsible-header main">

        <div class=col-3>
         <a href="{{url_for('edit_weight', user_id=user_id)}}"  class="waves-effect waves-light btn yellow">Weight</a>
      </div>
       <i class="material-icons main">fitness_center</i>{{workout.main}}</div>
     
    
       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.main_description}}">See Example</a></span></div>
</li>
<li>
        <div class="collapsible-header main"> 

              <div class=col-3>
      <a href="{{url_for('edit_weight', user_id=user__id)}}" class="waves-effect waves-light btn yellow">Weight</a>
      </div>
        <i class="material-icons main">fitness_center</i>{{workout.main_1}}</div>

       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.main_1_description}}">See Example</a></span></div>
</li>
<li>
        <div class="collapsible-header main"> 

              <div class=col-3>
      <a href="{{url_for('edit_weight', user_id=user__id)}}" class="waves-effect waves-light btn yellow">Weight</a>
      </div>
        <i class="material-icons main">fitness_center</i>{{workout.main_2}}</div>

      <div class="collapsible-body"><span> <a target="_blank" href="{{workout.main_2_description}}">See Example</a></span></div>

    </li>
  </ul>
<div class="row">
          <div class=col-3>
      <a class="waves-effect waves-light btn green complete1 center">Completed</a>
      </div>
      </div>
      </div>
<div class="complete-2">
<h3> Sprint </h3>
    <ul class="collapsible popout ">
 
    <li>
      <div class="collapsible-header warm_up ">

       <i class="material-icons">fitness_center</i>{{workout.sprint}}</div>

      <div class="collapsible-body"><span> <a target="_blank" href="{{workout.sprint_description}}">See Example</a></span></div>
    </li>

<li>
        <div class="collapsible-header warm_up "> 

        <i class="material-icons">fitness_center</i>{{workout.sprint_2}}</div>
 
       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.sprint_2_description}}">See Example</a></span></div>
    </li>
    <li>
            <div class="collapsible-header warm_up1">

             <i class="material-icons">fitness_center</i>{{workout.sprint_3}}</div>

       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.sprint_3_description}}">See Example</a></span></div>
</li>
<li>
              <div class="collapsible-header warm_up1">
      
               <i class="material-icons">fitness_center</i>{{workout.sprint_4}}</div>

      <div class="collapsible-body"><span> <a target="_blank" href="{{workout.sprint_4_description}}">See Example</a></span></div>
    </li>
  </ul>
<div class="row">
              <div class=col-3>
      <a class="waves-effect waves-light btn green complete2 center">Completed</a>
      </div>
       </div>

</div>
<div class="complete-3">
  <h3> Cool Down </h3>
    <ul class="collapsible popout complete-3">
 
    <li>
      <div class="collapsible-header cooldown">

       <i class="material-icons">fitness_center</i>{{workout.cool_down}}</div>
       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.cool_down_description}}">See Example</a></span></div>
<li>
        <div class="collapsible-header cooldown">

         <i class="material-icons">fitness_center</i>{{workout.cool_down_1}}</div>

       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.cool_down_1_description}}">See Example</a></span></div>
</li>
<li>
        <div class="collapsible-header cooldown"> 

        <i class="material-icons">fitness_center</i>{{workout.cool_down_2}}</div>
      <div class="collapsible-body"><span> <a target="_blank" href="{{workout.cool_down_2_description}}">See Example</a></span></div>
  </li>
  <li>  
            <div class="collapsible-header cooldown">

             <i class="material-icons">fitness_center</i>{{workout.cool_down_3}}</div>
    
       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.cool_down_3_description}}">See Example</a></span></div>
</li>
<li>
              <div class="collapsible-header cooldown">

               <i class="material-icons">fitness_center</i>{{workout.cool_down_4}}</div>

       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.cool_down_4_description}}">See Example</a></span></div>
</li>
<li>
              <div class="collapsible-header cooldown">
 
               <i class="material-icons">fitness_center</i>{{workout.cool_down_5}}</div>

       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.cool_down_5_description}}">See Example</a></span></div>
</li>
<li>
              <div class="collapsible-header cooldown">
 
       <i class="material-icons">fitness_center</i>{{workout.cool_down_6}}</div>

       <div class="collapsible-body"><span> <a target="_blank" href="{{workout.cool_down_6_description}}">See Example</a></span></div>

    </li>
  
  </ul>
  <div class="row">
          <div class=col-3>
      <a class="waves-effect waves-light btn green complete3 center">Completed</a>
      </div>
      </div>
      </form>
    </div>
</div>
</div>
<div class="row">
<div class="col-4 ">
      <a href="{{url_for('edit_user', user_id=user_id)}}" method="POST"  class="waves-effect waves-light btn blue col-md-pull-5">Select the next workout</a>
      </div>
      </div>
       
{% endblock %}